:root {
    --light: #F8F8F8;
    --dark: #464246;
    --accent: #F37C00;
    --hidden: #D1D1D1;
}

body, html {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.flex-container {
    background-color: var(--light);
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

.flex-container > div {
    text-align: center;
    font-size: 28px;
}

.flex-header {
    background-color: var(--dark);
    color: var(--light);
    width: 98vw;
    height: 10vh;
    padding: 1vh 1vw 1vh 1vw;
    display: flex;
    flex-direction: row;
}

.header-title {
    width: 10vw;
    height: 100%;
    max-height: 8vh;
    margin-top: auto;
    margin-bottom: auto;
}

.header-title > * { 
    color: var(--light);
    font-size: 32px;
}

#header-title-img {
    max-height: 9vh;
}

.header-nav {
    width: 18vw;
    height: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw;
    max-width: 18vw;
    margin-left: auto;
    text-align: center;
}

.header-nav > * { 
    padding: 3vh 0;
    margin: 10px;
    color: var(--light);
    cursor: pointer;
}

.header-nav > *:hover {
    text-decoration: underline; 
}

.header-nav-active {
    color: var(--accent);
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}

.header-nav-active:hover {
    color: var(--accent);
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}

.header-nav-icon {
    color: var(--light);
    height: 2vh;
    width: 2vw;
    cursor: pointer;
}

.flex-body-map {
    background-color: var(--light);
    color: var(--dark);
    width: 68vw;
    height: 78vh;
    padding: 1vh 1vw 1vh 1vw;
}

.flex-body-side {
    background-color: var(--light);
    color: var(--dark);
    width: 28vw;
    height: 78vh;
    padding: 1vh 1vw 1vh 1vw;
}

#container-openweathermap-widget-11 > * {
    width: auto;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--light);
}

#container-openweathermap-widget-11 > script {
    visibility: hidden;
}

.widget-left-menu {
    visibility: hidden;
    max-width: 0%;
}

.widget-left-menu > * {
    max-width: 0%;
}

.widget-left__body {
    height: auto;
}

.flex-body-farming {
    background-color: var(--light);
    color: var(--dark);
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-body-farming > * {
    margin: 1vh 1vw;
}

.farming-infobox {
    float: left;
    text-align: left;
    font-size: 16px;
    padding: 1vh 1vw;
    border: 2px solid var(--dark);
    max-width: 48vw;
    text-wrap: wrap;
    height: auto;
}

.flex-body-about {
    background-color: var(--light);
    color: var(--dark);
    width: 100vw;
    height: 80vh;
    text-align: center;
}

.flex-body-calendar {
    width: 98vw;
    display: flex;
    flex-direction: row;
}

.calendar-content{
    background-color: var(--light);
    width: 68vw;
    height: 78vh;
    padding: 1vh 1vw 1vh 1vw;
}

.calendar-side-content {
    background-color: var(--light);
    color: var(--dark);
    width: 28vw;
    height: 78vh;
    padding: 1vh 1vw 1vh 1vw;
}

.calendar-side-content > p {
    padding-bottom: 1vh;
}

#calendar-day-info {
    border: 2px solid var(--dark);
    width: 26vw;
    height: 65.25vh;
    text-align: center;
}

.flex-body-footer {
    background-color: var(--light);
    color: var(--dark);
    width: 98vw;
    height: 6vh;
    padding: 1vh 1vw 1vh 1vw;
}

.flex-body-footer > * {
    font-size: 12px;
    color: var(--accent);
}

.weather-widget {
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
    padding-top: 1vh;
    overflow-y: hidden;
    box-shadow: none;
}

.calendar-nav {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar-months {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--dark);
    height: 5vh;
    margin-top: 1vh;
    padding-top: 2vh;
    justify-content: space-evenly;
}

.calendar-months > * {
    width: 10vw;
    height: 5vw;
}

#calendar-days {
    list-style-type: none;
    display: flex;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 5vh;
    justify-content: space-evenly;
    border: 2px solid var(--dark);
    gap: 0.5vh;
}

#calendar-days > * {
    width: 9vw;
    height: 10vh;
    cursor: pointer;
}

.calendar-days-active {
    color: var(--accent);
}

.calendar-days-harvest {
    color: pink;
}

.calendar-days-unfocus {
    color: var(--hidden);
}

#calendar-nav-prev, #calendar-nav-next {
    cursor: pointer;
}

.map-top {
    width: inherit;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#map-main {
    margin-top: 1vh;
    margin-bottom: 2vh;
    height: 53vh;
    border: 2px solid var(--dark);
}

#map-button {
    margin-left: auto;
    padding: 1vh 1vw;
    border: 2px solid var(--dark);
    background-color: var(--light);
    cursor: pointer;
    min-width: 14vw;
    height: 4vh;
    margin-top: auto;
}

#translate-button {
    margin-left: auto;
    padding: 1vh 1vw;
    border: 2px solid var(--dark);
    background-color: var(--light);
    cursor: pointer;
    min-width: 14vw;
    height: 4vh;
    margin-top: auto;
}

.toggle_group {
    grid-column: 1 / -1;
    text-align: left;

    #toggle_label {
      font-size: 14px;
      color: #888;
    }

    .toggle{
      width: 40px;
      height: 20px;
      border-radius: 10px;
    }

    .toggle_input {
      display: none;

    }

    .toggle_fill {
      position: relative;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      background-color: #f3f3f3;
      transition: 0.25s;
      cursor: pointer;
      margin-top: 10px;
    }

    .toggle_fill::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: whitesmoke;
      box-shadow: 0 0 10px rgba(0,0,0,0.25);
      border-radius: 10px;
      transition: 0.2s;
    }

    .toggle_input:checked ~ .toggle_fill {
      background-color: #CABCB0;
    }
    .toggle_input:checked ~ .toggle_fill::after {
      transform: translateX(20px);
    }
    
  }

#map-button:hover { 
    background-color: var(--accent);
    color: var(--dark);
}

#translate-button:hover { 
    background-color: var(--accent);
    color: var(--dark);
}

#map-result {
    padding-left: 1vw;
    float: left;
}