:root {
    --light: #F8F8F8;
    --dark: #464246;
    --accent: #F37C00;
    --hidden: #D1D1D1;
}

body, html {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

.flex-container > div {
    text-align: center;
    font-size: 28px;
}

.flex-header {
    background-color: var(--dark);
    color: var(--light);
    width: 98vw;
    height: 10vh;
    padding: 1vh 1vw 1vh 1vw;
    display: flex;
    flex-direction: row;
}

.header-title {
    width: 10vw;
    height: 100%;
    max-height: 8vh;
    margin-top: auto;
    margin-bottom: auto;
}

.header-title > * { 
    color: var(--light);
    font-size: 32px;
}

#header-title-img {
    max-height: 9vh;
}

.header-nav {
    width: 18vw;
    height: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw;
    max-width: 18vw;
    margin-left: auto;
    text-align: center;
}

.header-nav > * { 
    padding: 3vh 0;
    margin: 10px;
    color: var(--light);
    cursor: pointer;
}

.header-nav > *:hover {
    text-decoration: underline; 
}

.header-nav-active {
    color: var(--accent);
    text-decoration: underline 2px;
    text-underline-offset: 3px;
    
}

.header-nav-active:hover {
    color: var(--accent);
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}

.flex-body-map {
    background-color: var(--light);
    color: var(--dark);
    width: 68vw;
    height: 78vh;
    padding: 1vh 1vw 1vh 1vw;
}

.flex-body-calendar {
    background-color: var(--light);
    width: 68vw;
    height: 78vh;
    padding: 1vh 1vw 1vh 1vw;
}

.flex-body-calendar > * {
    max-width: 68vw;
}

.flex-body-side {
    background-color: var(--light);
    color: var(--dark);
    width: 28vw;
    height: 78vh;
    padding: 1vh 1vw 1vh 1vw;
}

.flex-body-calendar-side {
    background-color: var(--light);
    color: var(--dark);
    width: 28vw;
    height: 78vh;
    padding: 1vh 1vw 1vh 1vw;
    background-color: var(--accent);
}

.calendar-side-content {
    width: 28vw;
    border: 2px solid var(--dark);
    background-color: var(--accent);
}

.flex-body-footer {
    background-color: var(--light);
    color: var(--dark);
    width: 98vw;
    height: 6vh;
    padding: 1vh 1vw 1vh 1vw;
}

.flex-body-footer > * {
    font-size: 12px;
    color: var(--accent);
}

.calendar-nav {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar-months {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--dark);
    height: 5vh;
    margin-top: 1vh;
    padding-top: 2vh;
    justify-content: space-evenly;
}

.calendar-months > * {
    width: 10vw;
    height: 5vw;
}

#calendar-days {
    list-style-type: none;
    display: flex;
    /* width: 0vw; */
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 5vh;
    justify-content: space-evenly;
    border: 2px solid var(--dark);
    gap: 0.5vh;
}

#calendar-days > * {
    width: 9vw;
    height: 10vh;
}

.calendar-days-active {
    color: var(--accent);
}

.calendar-days-unfocus {
    color: var(--hidden);
}

#calendar-nav-prev, #calendar-nav-next {
    cursor: pointer;
}

#map-main {
    margin-top: 1vh;
    margin-bottom: 2vh;
    height: 68vh;
    border: 2px solid var(--dark);
}

#map-button {
    float: left;
    padding: 0.5vh 0.5vw;
    border: 2px solid var(--dark);
    background-color: var(--light);
    cursor: pointer;
    width: 8vw;
}

#map-button:hover { 
    background-color: var(--accent);
    color: var(--dark);
}

#map-result {
    padding-left: 1vw;
    float: left;
}